html,body{
    padding: 0;
    margin: 0;
    background: #606266;
}
/*<!--主体-->*/
.web_main{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

/*<!--头部-->*/
.web_head{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background: #fff;
}
.web_head_left{
    margin-right: 10px;
    width: 150px;
}
.web_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.web_head_right{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.web_head_type{
    margin: 0 8px;
}
/*<!--轮播图-->*/
.web_chart{
    width: 100%;
    height: 300px;
    margin-top: 12px;
    background: #fff;
}
.web_chart_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/*<!--搜索-->*/
.web_search{

}

/*<!--搜索列表-->*/
.web_search_list{

}