html,body{
    padding: 0;
    margin: 0;
    background: #ebecec;
}
/*<!--主体-->*/
.web_main{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

/*<!--头部-->*/
.web_head_fix{
    height: 80px;
    position: fixed;
    z-index: 99;
    width: 1200px;
    max-width: 1200px;
    background: #fff;
    transition: all .3s;
}
.web_head{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 50px 12px 12px;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: #fff;
    transition: all .3s;
}
.web_head_left{
    margin-right: 10px;
}
.web_logo{
    width: 200px;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: all .3s;
}
.web_head_right{
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.head_type{
    margin: 0 6px;
    padding: 6px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: all .3s;
}
.head_type.active a{
    transition: all 0s;
    color: #1000ff;
}
.head_type.active a:after{
     transition: all 0s;
     display: block;
     content: "";
     position: absolute;
     left: 4px;
     bottom: 0;
     width: 36px;
     height: 3px;
     background-color: #1000ff;
     border-radius: 10px;
     text-align: center;
 }
.active .head_type.active a:after{
    width: 28px;
}
.head_type a{
    display: inline-block;
}
.head_h{
    height: 80px;
}

/*底部*/
.web_foot{
    margin-top: 12px;
    padding: 12px 6px;
    background: #606061;
    color: #fff;
}
.web_foot_ul{
    flex:1;
    box-sizing: border-box;
}
.web_foot_ul h1{
    padding: 0 6px 12px;
}
.web_foot_li{
    padding: 0 6px 12px;
    cursor: pointer;
}
.web_foot_bot{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 6px 0;
}
/* 右侧固定 */
.web_fix{
    position: fixed;
    right: 0;
    bottom: 120px;
    background: #dedddd;
    z-index: 999;
}
.web_fix div{
    width: 50px;
    height: 50px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s;
}
.web_fix div:hover{
    background: #606061;
    color: #fff;
}
.web_back{
    display: none;
}
.web_service{}
/*flex*/
.flex_row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex_column{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}