/*
1rem=20px
0.5rem=10px
0.05rem=1px
0.1rem=2px
0.2rem=4px
0.9rem=18px
0.6rem=12px
*/
html, body {
    font-size: 20px;
    background: #E1E0C7;
    border-left: 0.2rem solid #ced783;
    border-right: 0.2rem solid #ced783;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.about-main {
    width: 100%;
    box-sizing: border-box;
}

.about-box {
}

.about-tit {
    text-align: center;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #b2b581;
    font-size: 1rem;
    font-weight: 600;
}

.about-introduce {
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #c6ca95;
}

.about-introduce div {
    text-align: center;
    margin: 0 0 0.5rem 0;
    font-size: 0.75rem;
    font-weight: 600;
}

.about-introduce p {
    margin: 0;
    font-size: 0.8rem;
}

.about-chapter {
    margin: 0.5rem 0.5rem 0;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #e5bd71;
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: rgb(138 135 135) 0 0 0.5rem;
    border-top: 0.3rem solid #f3b152;
    border-bottom: 0.3rem solid #fbb854;
    border-left: 0.4rem solid #e5bd71;
    border-right: 0.4rem solid #e5bd71;
    background: #000;
}

.about-cen {
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.about-model {
    margin-bottom: 1rem;
    display: flex;
}

.about-model.left {
    justify-content: flex-start;
}

.about-model.centre {
    justify-content: center;
}

.about-model.right {
    justify-content: flex-end;
}

.about-model.left p {
    width: 90%;
    background: #30afd4;
    color: #fff;
}

.about-model.right p {
    background: #f57070;
    color: #fff;
    width: 90%;
}

.about-model.centre p {
    background: #dce187;
    width: 100%;
    color: #000;
}

.about-model p {
    margin: 0;
    background: #e3a0a0;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    box-shadow: rgb(150 142 142) 0 0.05rem 0.25rem 0;
}

.about-foot-main{
    padding: 0.5rem 0.5rem 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-foot-main div{
    width: 40%;
    background: #c6ca95;
    box-shadow: rgb(150 142 142) 0 0.05rem 0.25rem 0;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}
.previous-page{
    margin-right: 1rem;
}
.next-page{
}
.about-tip{
    position: absolute;
    bottom: 6rem;
    right: 0;
    width: 2.5rem;
    font-size: 0.5rem;
    background: #d7e65a;
    border-radius: 0.2rem;
    padding: 0.3rem;
    box-shadow: rgb(150 142 142) 0 0.05rem 0.25rem 0;
    cursor: pointer;
    color: #ff0000;
    font-weight: 600;
}
.about-tip.hides{
    display: none;
}
.about-pos{
    position: absolute;
    top: 1rem;
    width: 5rem;
    right: 0;
    font-size: 0.5rem;
    background: #000000;
    border-radius: 0.2rem;
    padding: 0.3rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
}
.about-pos.hides{
    display: none;
}


